/* Put here any 'footer' specific css */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--font-color-footer);
}

.footer__navigation-button {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.navigation-button__icon {
    height: 35%;
}

.unselected {
    opacity: .25;
}

/* ==========================
 MEDIA QUERIES
========================== */

/* Tablets ----------- */
@media (min-width : 767px) and (max-width : 1279px) {
    :root {
        --footer-height: var(--tablet-footer-height);
    }
}

/* Laptops ----------- */
@media (min-width: 1280px) and (max-width: 1919px) {
    :root {
        --footer-height: var(--laptop-footer-height);
    }
}

/* Desktops ----------- */
@media (min-width: 1920px) {
    :root {
        --footer-height: var(--desktop-footer-height);
    }
}